.body {
  background-color: black;
}

.console {
  /*user-select: contain;*/
  color: white;
  background-color: black;
  font-family: Consolas, 'Lucida Console', Courier, monospace;
  font-size: large;
  border: none;
  outline: none;
  overflow: auto;
}
