.body {
  background-color: black;
}

.console {
  user-select: contain;
  color: white;
  background-color: black;
  font-family: Consolas;
  font-size: large;
  border: none;
  outline: none;
  overflow: auto;
}
