body {
  background-color: white;
  color: black;
  --loading-icon-scale: 1.5;
  position: absolute;
  display: block;
  top: 50%;
  left: calc(50% - 45px * var(--loading-icon-scale));
  scale: var(--loading-icon-scale);
  width: 0px;
  height: 0px;
}

body > * {
  display: none;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  box-shadow: 15px 0 0 0 rgba(0, 0, 0, 0.2), 30px 0 0 0 rgba(0, 0, 0, 0.2),
    45px 0 0 0 rgba(0, 0, 0, 0.2), 60px 0 0 0 rgba(0, 0, 0, 0.2);
  animation: flash-dots 1.2s infinite;
}

.loading-failure::after {
  animation: flash-dots-failure 1.2s forwards;
}

@keyframes flash-dots {
  0%,
  18%,
  100% {
    box-shadow: 15px 0 0 0 rgba(0, 0, 0, 0.2), 30px 0 0 0 rgba(0, 0, 0, 0.2),
      45px 0 0 0 rgba(0, 0, 0, 0.2), 60px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  22%,
  30% {
    box-shadow: 15px 0 0 0 black, 30px 0 0 0 rgba(0, 0, 0, 0.2),
      45px 0 0 0 rgba(0, 0, 0, 0.2), 60px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  34%,
  42% {
    box-shadow: 15px 0 0 0 rgba(0, 0, 0, 0.2), 30px 0 0 0 black,
      45px 0 0 0 rgba(0, 0, 0, 0.2), 60px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  46%,
  54% {
    box-shadow: 15px 0 0 0 rgba(0, 0, 0, 0.2), 30px 0 0 0 rgba(0, 0, 0, 0.2),
      45px 0 0 0 black, 60px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  58%,
  66% {
    box-shadow: 15px 0 0 0 rgba(0, 0, 0, 0.2), 30px 0 0 0 rgba(0, 0, 0, 0.2),
      45px 0 0 0 rgba(0, 0, 0, 0.2), 60px 0 0 0 black;
  }
}

@keyframes flash-dots-failure {
  0% {
    box-shadow: 15px 0 0 0 rgba(0, 0, 0, 0.2), 30px 0 0 0 rgba(0, 0, 0, 0.2),
      45px 0 0 0 rgba(0, 0, 0, 0.2), 60px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  18% {
    box-shadow: 15px 0 0 0 #c21c2c, 30px 0 0 0 rgba(0, 0, 0, 0.2),
      45px 0 0 0 rgba(0, 0, 0, 0.2), 60px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  42% {
    box-shadow: 15px 0 0 0 #c21c2c, 30px 0 0 0 #c21c2c,
      45px 0 0 0 rgba(0, 0, 0, 0.2), 60px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  54% {
    box-shadow: 15px 0 0 0 #c21c2c, 30px 0 0 0 #c21c2c, 45px 0 0 0 #c21c2c,
      60px 0 0 0 rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 15px 0 0 0 #c21c2c, 30px 0 0 0 #c21c2c, 45px 0 0 0 #c21c2c,
      60px 0 0 0 #c21c2c;
  }
}
